doctype html
html
	head
		title Backbone App
		link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.css')
		script(src='underscore/underscore-min.js')
		script(src='jquery/dist/jquery.min.js')
		script(src='backbone/backbone-min.js')
		script(src='handlebars/handlebars.min.js')
		script(src='/js/client.js')
		script(src='/js/init.js')
	body
		block content